$clrBlue: #18bfef;

@mixin circle($i) {
   border-radius: 50%;
   height: $i;
   line-height: $i;
   width: $i;
}

* {
   box-sizing: border-box;
}

body {
   background: #000;
   font-family: 'Merriweather';
}

h1,
h2,
h3 {
   font-family: 'Source sans pro', Georgia, 'Times New Roman', Times, serif;
}

p {
   line-height: 1.5;
}

a {
   text-decoration: none;
}

img {
   display: block;
   width: 100%;
}

.container {
   max-width: 75em;
   margin: 0 auto;
}

.btn {
   border: .125em solid #333;
   color: #333;
   display: inline-block;
   font-size: .9rem;
   font-family: 'Source sans pro';
   letter-spacing: .125em;
   padding: 1em 1.5em;
   text-transform: uppercase;
   transition: 300ms ease all;

   &:hover {
      color: $clrBlue;
      border-color: $clrBlue;
   }
}

.banner {
   color: #fff;
   margin-top: 15em;

   &__title {
      font-size: 4rem;
      letter-spacing: .125em;
      text-align: center;
      text-transform: uppercase;
   }

   &__content {
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.75;
      margin: 0 auto;
      text-align: center;
      width: 75%;
   }
}

.navigation {
   background: url('../img/overlay.png');
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 5em;

   &__ul {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      padding: 0;

      li {
         a {
            color: #fff;
            font-family: 'Source sans pro';
            font-size: 1rem;
            padding: 1.5em;
            text-transform: uppercase;
            transition: 300ms ease;

            &.active {
               background: #fff;
               color: #333;
            }
         }
      }
   }

   &--social {
      li {
         margin: 0 .55em;

         a {
            font-size: 1.125rem;
            padding: .75em;

            &:hover {
               color: $clrBlue;
            }
         }
      }
   }

   &--pages {
      li {
         a {
            font-size: .9rem;
            letter-spacing: .0325em;
         }

         a:not(.active) {
            &:hover {
               background: rgba(255, 255, 255, 0.075);
            }
         }
      }
   }
}

// Featured article
.featured {
   background-color: #fff;
   padding: 4em;
   text-align: center;

   &__date {
      display: flex;
      align-items: center;

      font-size: 1.15rem;
      margin-top: 2em;
      white-space: nowrap;

      &::before,
      &::after {
         background: rgba(0, 0, 0, 0.137);
         content: '';
         display: block;
         margin: 0 .5em;
         width: 75%;
         height: .075em;
      }
   }

   &__title {
      color: #333;
      font-size: 3rem;
      line-height: 1.5;
      margin: 1em auto;
      text-transform: uppercase;
      width: 50%;

      a {
         color: inherit;
         transition: color 300ms ease;

         &:hover {
            color: $clrBlue;
         }
      }
   }

   &__content {
      font-size: 1.125rem;
      line-height: 1.75;
      margin: .5em auto;
      width: 60%;
   }

   &__img {
      display: block;
      margin: 2em auto;
      width: 75%;
   }

   &__btn {
      margin-top: 1.5em;
   }
}

// Articles
.posts {
   display: grid;
   grid-template-columns: repeat(2, 1fr);

   background: #fff;

   &__article {
      border: .095em solid rgba(51, 51, 51, 0.205);
      padding: 3em;

      time {
         display: block;
         font-size: .9rem;
         text-align: center;
      }

      h3 {
         color: #333;
         font-size: 1.75rem;
         line-height: 1.5;
         text-transform: uppercase;
         text-align: center;
      }

      p {
         color: #444;
         line-height: 2.25;
         margin: 1.5em 0;
         text-align: justify;
      }
   }

   &__footer {
      grid-column: 1/-1;
      padding: 3em;

      ul {
         display: flex;
         justify-content: center;
         list-style-type: none;
         text-align: center;

         li {
            a {
               border: 0.09em solid rgba(51, 51, 51, 0.192);
               color: #666;
               font-family: 'Source sans pro';
               padding: 1em 1.125em;
               transition: border-color 300ms ease, color 300ms ease;

               &:hover {
                  border-color: $clrBlue;
                  color: $clrBlue;
               }
            }
         }
      }
   }
}

.footer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background: #eee;

   &__section {
      padding: 3em;

      &--right {
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;

         padding: 0;

         section {
            display: flex;
            align-items: center;
            border-top: .095em solid rgba(51, 51, 51, 0.151);
            border-left: 0;
            padding: 3em 2em;

            &:first-child {
               border-top: 0;
            }

            h3 {
               color: #666;
               font-size: .85rem;
               letter-spacing: .125em;
               margin-right: 2em;
               text-transform: uppercase;
            }

            p {
               font-size: .85rem;

               a {
                  color: #333;
                  text-decoration: underline;
                  text-decoration-style: dotted;
               }
            }

            ul {
               display: flex;
               list-style-type: none;
               padding: 0;

               li {
                  margin-right: 1em;

                  a {
                     border: .095em solid rgba(102, 102, 102, 0.39);
                     color: #333;
                     display: block;
                     font-size: 1.15rem;
                     transition: all 300ms ease;
                     text-align: center;
                     @include circle(2em);

                     &:hover {
                        color: $clrBlue;
                        border-color: $clrBlue;
                     }
                  }
               }
            }
         }
      }

      &--left {
         border-right: .125em solid rgba(51, 51, 51, 0.24);

         label {
            color: rgb(114, 114, 114);
            font-size: .95rem;
            font-family: 'Source sans pro';
            letter-spacing: .125em;
            margin: 1em 0;
            text-transform: uppercase;
         }

         form {
            display: flex;
            flex-flow: column nowrap;

            input,
            textarea {
               background: none;
               border: .125em solid #ccc;
               color: #555;
               font-family: 'Source sans pro';
               padding: .85em;
               resize: none;

               &:not(.submit):focus {
                  border-color: $clrBlue;
               }
            }

            input[type=submit] {
               align-self: flex-start;
               border-color: #666;
               color: #666;
               cursor: pointer;
               font-size: .85rem;
               letter-spacing: .125em;
               margin-top: 1.5em;
               padding: 1.25em 1.5em;
               text-align: center;
               text-transform: uppercase;
               transition: color 300ms ease, border-color 300ms ease;

               &:hover {
                  color: $clrBlue;
                  border-color: $clrBlue;
               }
            }
         }
      }
   }
}

.footer__privacy {
   padding: 3em 0;
   text-align: center;

   p {
      color: #aaa;
      font-family: 'Source sans pro';
      font-size: .95rem;
      letter-spacing: .125em;
      text-transform: uppercase;
   }
}